%%-*- mode: erlang -*-

{lib_dirs, ["deps"]}.

{deps, [
        {ranch, ".*", {git, "https://github.com/extend/ranch.git", {tag, "0.8.1"}}},
        {sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
        {eredis, ".*", {git, "https://github.com/mkurkov/eredis.git", {branch, "sentinel"}}},
        {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}}
       ]
}.
